body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.jsonl-file {
  width: 1000px; /* Increased the width to 1000px */
}

.page-container {
  display: flex;
  max-width: 1600px; /* Increased the max-width to 1600px */
  margin: 10px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden; /* Hide any overflowing content */
}

.container {
  flex: 1;
  padding: 0px;
  overflow-y: auto; /* Add vertical scroll if content overflows */
  max-height: 100vh; /* Limit the container height to 80% of the viewport height */
}

.navigation {
  width: 300px; /* Increased the width to 300px */
  border-right: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto; /* Add vertical scroll if content overflows */
  max-height: 80vh; /* Limit the navigation container height */
}

.paragraph-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
  color: blue;
  position: relative; /* Required for the ::before pseudo-element */
}

.bold:hover::before {
  content: " Count: " attr(data-count);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

span[data-count] {
  cursor: default;
}

/* Additional styles for scenario sections */
.scenario-section {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.word-container {
  display: inline-block;
  position: relative;
  margin-right: 4px;
  padding-top: 0em;
  min-height: 2em;
}

.count-content {
  position: absolute;
  font-size: 0.7em;
  color: #555;
  top: 0;
  transform: translateY(-100%);
}

.bold .word-content {
  font-weight: bold;
}

.input-reference-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  background-color: #f5f5f5;
}

.show-more-button {
  background-color: #444;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 5px 0;
  text-align: center;
}

.annotations-content-hidden {
  display: none;
}
